<blockquote class="quote">
  <p class="quote__text">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione, autem
    praesentium. Nobis vitae saepe necessitatibus quasi repudiandae eligendi eum
    vel!
  </p>
  <footer>
    <div class="media">
      <div class="media__image">
        <svg class="icon icon--primary quote__line">
          <use xlink:href="Images/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title quote__author">Frank Scott</h3>
        <p class="quote__organization">Dummy Company</p>
      </div>
    </div>
  </footer>
</blockquote>
